body {
  padding: 0;
  margin: 0;
  background-color: rgba(23, 25, 25, 1);
  padding-bottom: 150px;
}
h1,
button,
h2,
h3,
h4,
h5,
p {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 60px;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
.icon {
  width: 30px;
  filter: contrast(0%) brightness(500%);
}
.upper_text {
  font-size: 38px;
  text-transform: uppercase;
}
.header_container {
  position: relative;
  display: flex;
  height: 100vh;
  background: linear-gradient(rgba(34, 34, 34, 0.43), rgba(15, 15, 15, 1));
  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.5);
  .background_container {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .background_img {
      width: 100%;
      height: 100%;
    }
  }
  .section_header_nav {
    z-index: 5;
    position: relative;
    overflow: hidden;
    width: 168px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.106);
    .container_nav {
      display: flex;
      justify-content: center;
      .logotype_container {
        display: flex;
        justify-content: center;
        .logotype_rotate {
          text-wrap: nowrap;
          writing-mode: vertical-rl;
          rotate: -180deg;
        }
        .logotype_span {
          padding: 25px 100%;
          background-color: rgb(4, 255, 242);
        }
      }
      .container_bth {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px 30px;
        margin-top: 60px;
        .btn_nav {
          margin-top: 20px;
          .btn_nav_img {
            width: 32px;
          }
          .btn_text {
            font-size: 18px;
          }
        }
      }
      .container_time {
        margin-top: 40px;
        .big_time_text {
          font-size: 56px;
        }
        .container_flex_time {
          display: flex;
          align-items: center;
          justify-content: center;
          .small_time_text {
            font-size: 24px;
            font-weight: 400;
            padding: 0px 5px;
            &:first-child {
              border-right: 1px solid white;
            }
          }
        }
      }
      .container_location {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 20px;
        .location_img {
          width: 28px;
        }
        .location_text {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
  .section_banner {
    position: relative;
    width: 100%;
    padding: 50px;
    .btn_arrow_container {
      position: absolute;
      right: 80px;
      display: flex;
      .btn_arrow {
        &:last-child {
          rotate: 180deg;
          margin-top: -8px;
        }
        padding: 0px 20px;
      }
    }
    .container_banner_text {
      position: absolute;
      bottom: 120px;
      right: 80px;
      .container_text {
        padding: 20px 0px;
        .upper_text {
          text-align: end;
        }
        .category_text {
          &::before {
            content: "-";
            margin-right: 10px;
          }
          font-size: 28px;
          font-weight: 300;
          text-align: end;
        }
      }
    }
    .container_state_slide_banner {
      position: absolute;
      display: flex;
      justify-content: end;
      right: 80px;
      bottom: 40px;
      .item_slide {
        width: 250px;
        margin-left: 50px;
        .line {
          height: 4px;
          background-color: white;
          .inside_line {
            width: 0%;
            height: 100%;
            animation: move_inside_line 5s linear forwards;
            background-color: rgb(4, 255, 242);
          }
        }
        .container_text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          .number_slide_text {
            font-size: 26px;
          }
          .name_slide_text {
            font-size: 24px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
.section_map {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  .container_map {
    position: relative;
    margin-top: 50px;
    .container_info_point {
      z-index: 2;
      position: absolute;
      padding: 20px 30px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.878);
      .info_text {
        text-align: start;
      }
      .container_info {
        display: flex;
        gap: 25px;
        margin-top: 15px;
        .container_point_icon {
          display: flex;
          justify-content: center;
          .point_icon {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
          }
        }
      }
    }
    .container_point {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .point_map {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border-radius: 56px;
        box-shadow: 0px 0px 35px 0px rgb(4, 255, 242);
        background-color: rgb(4, 255, 242);
      }
    }
  }
}
.section_beach_cards {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 110px;
  .beach_card {
    overflow: hidden;
    position: relative;
    width: 100vh;
    height: 900px;
    margin-left: -40px;
    &:hover {
      .container_img_beach_card {
        .img_beach_card {
          transition: filter 1s ease;
          filter: brightness(100%);
        }
      }
    }
    &:first-child {
      margin-left: 0px;
    }
    &:nth-child(2) {
      margin-top: -40px;
    }
    &:nth-child(4) {
      margin-top: -40px;
    }
    .container_img_beach_card {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 420px;
      height: 900px;
      .img_beach_card {
        transition: filter 1s ease;
        filter: brightness(35%);
        z-index: -1;
      }
    }
    .container_text_beach_card {
      margin-top: 72px;
      margin-left: 40px;
      .text_beach {
        width: 200px;
        text-align: left;
      }
      .container_text_location {
        display: flex;
        height: 70%;
        text-wrap: nowrap;
        writing-mode: vertical-rl;
        rotate: -180deg;
        .text_location {
          padding: 10px 0px;
          font-size: 18px;
          letter-spacing: 3px;
          &:first-child {
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
}
.section_banner_services {
  margin-top: 280px;
  .prev_text {
    font-size: 38px;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }
  .container_slider {
    display: flex;
    justify-content: space-between;
    padding-right: 84px;
    margin-top: 100px;
    .container_img_slide {
      z-index: -1;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      min-width: 1000px;
      height: 580px;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
      .img_slide {
        width: 1300px;
      }
      .shadow_img_slide {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 99px 110px rgb(20, 21, 21) inset;
      }
    }
    .container_nav_banner {
      margin-top: 80px;
      padding-left: 100px;
      .container_text_slide {
        .upper_text {
          text-align: end;
        }
        .prev_text {
          line-height: 65px;
        }
      }
      .container_arrow_btn {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        .btn_slide_arrow {
          filter: brightness(70%);
          &:nth-child(2) {
            margin-top: -8px;
            rotate: 180deg;
          }
        }
      }
    }
  }
  .container_servise {
    margin-top: 20px;
    .container_airplane,
    .container_sleep {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-left: 140px;
      .contaienr_airplane_text,
      .contaienr_sleep_text {
        .upper_text {
          line-height: 65px;
          text-align: left;
        }
      }

      .img_airplane,
      .img_sleep {
        position: absolute;
        top: -120px;
        right: 20px;
      }
      .img_airplane {
        width: 900px;
        rotate: 12deg;
      }
      .img_sleep {
        width: 500px;
      }
    }
  }
  .container_servise_plane {
    display: flex;
    margin-top: 120px;
    padding: 0px 140px;
    .item_plane {
      display: flex;
      justify-content: left;
      width: 320px;
      margin-right: 20px;
      .container_btn_service {
        display: flex;
        justify-content: right;
        gap: 10px;
        margin-top: 5px;
        .icon {
          width: 20px;
        }
      }
      .upper_text {
        text-align: left;
      }
      .prev_text {
        rotate: 180deg;
        padding-left: 20px;
        font-size: 25px;
        text-align: end;
        text-wrap: nowrap;
        writing-mode: vertical-lr;
      }
    }
  }
}
.section_shop {
  margin-top: 300px;
  padding: 0px 140px;
  .container_shop {
    display: flex;
    margin-top: 150px;
    align-items: start;
    .upper_text {
      text-align: start;
    }

    .container_description_goods {
      width: 530px;
      .category_text {
        font-weight: 300;
        line-height: 86px;
      }
      .container_price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 420px;
        margin-top: 100px;
        .btn_sell {
          padding: 12px 30px;
          font-size: 38px;
          font-weight: 700;
          border-radius: 8px;
          color: white;
          background-color: aqua;
        }
      }
    }
    .container_img_goods {
      margin-left: 200px;
      .img_goods {
        max-width: 800px;
        max-height: 1000px;
      }
    }
    .container_nav_goods {
      display: flex;
      justify-content: space-between;
      width: 80px;
      margin-top: -80px;
      .btn_arrow_goods {
        filter: contrast(40%);
        &:last-child {
          margin-top: -10px;
          rotate: 180deg;
        }
      }
    }
  }
}
@keyframes move_inside_line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
